params {
    silva_url = 'https://zenodo.org/records/14169026/files/silva_nr99_v138.2_toSpecies_trainset.fa.gz'
    silva_md5 = 'e0455a1a7de820039d684aad2053e937'
    silva_fasta = null
    config = "${projectDir}/config/example.yaml"
    study  = "${projectDir}/study/example_study.yaml"
    outdir = "${projectDir}/results"
    run_dada2 = false
    dada2_threads = 8
}
manifest { name='mock16s-chem'; version='1.0.0'; description='Truth-aware V4 16S and correlated chemistry benchmark generator' }
process { executor='local'; errorStrategy='terminate'; maxRetries=1 }
conda.enabled=true
profiles {
  standard { process.executor='local' }
  slurm { process.executor='slurm' }
}
